*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.-ykBU7gHJQErxIZ2fCn-3wHaEK?pid=ImgDet&rs=1');
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 450px;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.lvtUlHx7inGuYoOw2hWBHQHaET&pid=Api&P=0');
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(1,1,1,4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

.Temperature-icon{
    font-size: 45px;
    color: #fff;
}

h1{
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 30px;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

input{
    flex: 5;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    background-color: transparent;
}


/* for chrome, safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* for Mozila firefox */
input{
    -moz-appearance: textfield;
}


.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    color: #24c6df;
    border-radius: 0 8px 8px 0;
    border: 2px solid;
    border-color: black;
}


.button{
    margin-top: 25px;
    text-align: center;
}


.button button{
    border: 1px solid;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    background-color: transparent;
}

.button button:hover{
    background: #f53307;
    color: #fff;
}